@page "/"
@page "/home/{Keyword?}"
@inject NavigationManager navigationManager
<NothingToDisplay Display="@(Animes.Count == 0)"></NothingToDisplay>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach(var animie in Animes)
        {
            <div class="col p-1">
                <div class="card" @onclick="@((e) => ShowAnime(animie.Id))">
                    <img src="@Util.GetPictureUri(animie.Cover)" class="card-img-top" alt="@animie.Name" >
                    <div class="card-body text-center" style="padding:8px !important">
                        <span class="card-title">@animie.Name</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        Cornor.OnAnimeSubChanged -= AnimeUpdated;
        Cornor.OnAnimeSubChanged += AnimeUpdated;
    }

    private void RefreshAnimies()
    {
        var querier = BlazorApp.Database.Queryable<Anime>();
        if (!string.IsNullOrEmpty(Keyword))
        {
            querier.Where(m => m.Name.Contains(Keyword));
        }
        Animes = querier
                    .OrderBy(nameof(Anime.CreatedDate))
                    .ToList();
    }

    protected override void OnParametersSet()
    {
        RefreshAnimies();
    }

    [Parameter]
    public string Keyword { get; set; }

    private void AnimeUpdated()
    {
        RefreshAnimies();
        StateHasChanged();
    }

    protected List<Anime> Animes { get; set; }

    protected void ShowAnime(int id)
    {
        navigationManager.NavigateTo("AnimeDetail/" + id);
    }
}
