@using AnimeLover.Event
@inherits LayoutComponentBase
@inject NavigationManager navigationManager
<Layout>
    <LayoutHeader Fixed>
        <Bar Breakpoint="Breakpoint.Desktop"
             Background="Background.Primary"
             ThemeContrast="ThemeContrast.Dark">
            <a class="navbar-brand" href="/">
                首页
            </a>
            <BarMenu>
                <BarStart>
                    <BarItem>
                        <BarLink To="netdisk">浏览</BarLink>
                    </BarItem>
                    <BarItem>
                        <BarLink To="javascript:;" @onclick="@setting.ShowModal">设置</BarLink>
                    </BarItem>

                </BarStart>
                <BarEnd>
                    <BarItem>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-secondary" type="button" @onclick="@Search">
                                    <Icon Name="IconName.Search"></Icon>
                                </button>
                            </div>
                            <input type="text" @bind-value="@Keyword" class="form-control" placeholder="输入关键字以搜索..." @onkeyup="@InputKeyUp">
                        </div>
                    </BarItem>
                    <BarItem Class="ml-4">
                        <BarLink To="javascript:;" @onclick="@FullScreen">
                            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.WindowMaximize"></Icon>
                        </BarLink>
                    </BarItem>

                    <BarItem Class="ml-4">

                        <BarLink To="javascript:;" @onclick="@Close">
                            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.PowerOff"></Icon>
                        </BarLink>
                    </BarItem>
                </BarEnd>
            </BarMenu>
        </Bar>
    </LayoutHeader>
    <Layout Sider>
        <Layout style="margin-top:50px;">
            <LayoutContent>
                <Alert Color="Color.Warning" Visible="!setting.SysInited">
                    <AlertMessage>警告</AlertMessage>
                    <AlertDescription>系统尚未进行初始化配置，<a href="javascript:;" @onclick="@setting.ShowModal">点击这里</a>进行配置！</AlertDescription>
                </Alert>
                @Body
                <Cornor @ref=cornor />
            </LayoutContent>
        </Layout>

    </Layout>
</Layout>

<Setting @ref="setting" OnSave="SettingSaved"></Setting>
@code {

    protected override void OnInitialized()
    {
        SysControl.OnCornorDisplayChanged -= OnCornorChanged;
        SysControl.OnCornorDisplayChanged += OnCornorChanged;
    }

    Cornor cornor;
    private void OnCornorChanged(bool display)
    {
        cornor.Display(display);
    } 

    Setting setting;

    private void SettingSaved()
    {
        this.StateHasChanged();
    }

    public bool CornorHiden { get; set; } = false;

    private void Close()
    {
        Environment.Exit(0);
    }

    private void InputKeyUp(KeyboardEventArgs e)
    {
        if(e.Key == "Enter")
        {
            Search();
        }
    }

    private string Keyword { get; set; }

    private void Search()
    {
        navigationManager.NavigateTo("/home/"+ Keyword);
    }

    private void FullScreen()
    {
        SysControl.FullScreenChange();
    }
}